<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div class="sidenav__logo">
      <mat-icon class="sidenav__logo-icon">sports_soccer</mat-icon>
      <span class="sidenav__logo-text">Prediplay</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a mat-list-item
           [routerLink]="item.path"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: item.path === '/' }">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.key | translate }}</span>
        </a>
      }
    </mat-nav-list>

    <div class="sidenav__lang">
      <mat-button-toggle-group [value]="lang.current" (change)="setLang($event.value)">
        <mat-button-toggle value="en">EN</mat-button-toggle>
        <mat-button-toggle value="nb">NO</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
