<div class="momentum">
  @if (loading) {
    <div class="loading-container" style="padding:30px"><mat-icon>hourglass_empty</mat-icon></div>
  } @else if (data) {
    <div class="momentum__header">
      <span class="momentum__label">Form Trend (last 10 games)</span>
      <span class="trend-badge" [class]="trendClass">
        <mat-icon>{{ trendIcon }}</mat-icon>
        {{ data.trend | titlecase }}
      </span>
    </div>
    <div class="momentum__chart">
      <canvas #chartCanvas></canvas>
    </div>
  }
</div>
